@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes arrow-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.arrow {
  animation: arrow-animation 1s linear infinite;
}